#window-wrapper {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

#window-wrapper .container {
    display: block;
    width: 140px;
    height: auto;
    background: white;
    border: 1px solid black;
    box-shadow: 1px 1px 18px #333;
}

#window-wrapper .container #card-img {
    display: block;
    margin: 0px auto;
    width: 96px;
    height: 72px;
}

#window-wrapper .container .card-words {
    display: block;
    width: 100%;
}